* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
img {
    max-width: 100%;
    display: block;
}
    
html {
    font-size: 16px;
}
    
body {
    font-family: Helvetica, Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}

.container {
    min-height: 100vh;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
        "header"
        "content"
        "card"
        "footer";

    gap: 0;   
}

.header-inner, .footer-inner, .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}


h3, h4, h5, h6 {
    margin: 12px 0 6px;
}
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

h1 {
    margin: 20px 0 12px;
    font-size: 2rem;
}

h2 {
    margin: 20px 0 6px;
    font-size: 1.5rem;
}

h1:first-child, h2:first-child {
    margin-top: 0;
}

p:not(:last-child) {
    margin-bottom: 12px;
}

.content ul {
    list-style-type: none;
    list-style-position: outside;
    /* padding-left: 10px; */
}

/* .content li {
    text-indent: -10px;
} */

.content li li {
    margin-left: 14px;
}

.content ul:not(:last-child) {
    margin-bottom: 14px;
}

.cookie ul > li {
    margin-bottom: 12px;
}

p, .content ul li {
    line-height: 1.5rem;
}

.home h1 {
    text-align: center;
}

.home main p {
    text-align: center;
}



/* HEADER 
-------------------------------------------------- */

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
}

.header-inner {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-egg img {
    height: 3rem;
    display: block;
}

nav {
    font-weight: 300;
    font-size: 1.2rem;
    font-variant: small-caps;
}

nav a {
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #32C0C3;
}

nav li {
    display: inline-block;
}

.nav-home {
    display: none;
}

.dropdown {
    display: none;
}

.dropdown li {
    display: inline;
}

nav li:hover .dropdown {
    width: 10rem;
    display: block;
    position: absolute;
    background-color: #32C0C3;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .33);
    /* h-offset, v-offset, blur, spread (size), color */
}

nav li:hover .dropdown a {
    width: 100%;
    padding: 15px 10px;
}

nav li:hover .dropdown a:hover {
    background-color: #eeeeee;
}



/* CONTENT 
-------------------------------------------------- */

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 20px 20px;
}

main {
    width: 70%;
    padding: 20px;
}

.buffer {
    order: 2;
    display: block;
    width: 1.5rem;
}

aside {
    width: 30%;
    padding: 20px;
    min-width: 300px;
    background-image: url('../img/sprinkles2.jpg');
    background-size: 400px;
    background-repeat: repeat;
    border-radius: 8px;
}

.home main {
    order: 1;
}
.home aside {
    order: 3;
}

.inner-page main {
    order: 3;
}
.inner-page .buffer {
    display: none;
}
.inner-page aside {
    order: 1;
}


.logo-title {
    margin: 0 auto 50px;
    height: 10rem;
}

blockquote {
    margin: 0 0 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2rem;
    text-align: center;
}

blockquote::before {
    content: "\201C";
    color: #32C0C3;
}
blockquote::after {
    content: "\201D";
    color: #32C0C3;
}


.story-text-main {
    max-width: 400px;
    margin-bottom: 14px;
}
.story-text1, .story-text2 {
    padding: 5px;
    border-radius: 5px;
}
.story-text1 {
    text-align: right;
    border: 1px dashed #66AACC;
}
.story-text2 {
    text-align: left;    
    border: 1.5px dashed #66CACC;
}

.br {
    display: none;
}

.emp {
    font-size: 1.2rem;
}

aside img {
    width: 100%;
}
aside img {
    margin-bottom: 12px;
}


figure {
    margin: 12px 0;
}
figure img {
    margin-bottom: 0;
}
figcaption {
    padding: 4px 2px;
    font-size: .8rem;
    font-variant: small-caps;
}


.content a, .card a {
    display: inline-block;
    padding: 1px;
}

.content a:link, .card a:link {
    color: #1E7375;
}

.content a:hover, .card a:hover {
    border-radius: 3px;
    background-color: #32C0C3;
    color: black;
    text-decoration: none;
}

.content a:visited, .card a:visited {
    color: gray;
}

.content a:visited:hover, .card a:visited:hover {
    border-radius: 3px;
    background-color: #32C0C3;
    color: black;
    text-decoration: none;
}



/* CARD 
-------------------------------------------------- */

.card {
    padding: 30px 20px;
    background-color: #eeeeee;
    text-align: center;
}

.card-inner {
    margin: 0 auto;
    max-width: 600px;
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid #217D7F;
    background-color: #32C0C3;
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    background-color: #5BE3E5;
}



/* FOOTER 
-------------------------------------------------- */

footer {
    padding: 20px 0;
    background-color: #32C0C3;
    text-align: center;
}

footer a {
    color: black;
}

.social {
    padding: 2px;
    margin-bottom: 14px;
    font-size: 2rem;
}

.copy {
    font-size: 0.6875rem;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}



.nav-button { display: none; } /* hide the navigation button by default */

@media only screen and (max-width: 700px) {

    .logo-egg img {
        display: none;
    }

    .content {
        flex-direction: column;
        padding: 0;
        padding-top: 20px;
    }

    main, aside {
        padding: 10px;
    }
    
    main {
        width: 100%;
    }
    
    aside {
        width: 100%;
        border-radius: 0;
    }
    
    .buffer {
        display: none;
    }

    .inner-page main {
        order: 1;
        background-image: url('../img/robin-egg-light.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0 75px;
    }
    .inner-page aside {
        order: 3;
    }

    .br {
        display: inline;
    }


	/* Navigation Button
	-------------------------------------------------------- */

	.nav-button {
		display: block;
		position: fixed;    /* edited from absolute */
		top: 7px;
		left: 7px;
		width: 50px;
		height: 35px;
		background: url('../img/menu-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		cursor: pointer;
		border: 0 none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
		border-radius: 3px;
		z-index: 999;
		text-indent: -9999px;
	}
	.nav-button:hover {
		background-color: rgba(0,0,0,.1);
	}
	.nav-button.open {
		background: url('../img/close-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
	}

	/* Navigation Bar
	-------------------------------------------------------- */

	body {
        padding-top: 50px;
    }

	.primary-nav {
		width: 100%;
		float: none;
		background-color: #32C0C3;  /* change the menu color */
		background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		display: block;
		height: 50px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
		position: fixed;    /* edited from absolute */
		top: 0px;
		left: 0px;
		z-index: 998;
		clear: both;
    }
    
    nav li {
        margin-left: 0px;
    }
    
    nav li:hover .dropdown {
        width: 100%;
        display: block;
        position: static;
        background: none;
        padding: 0px;
    }

    nav li:hover .dropdown li {
        margin-top: 0px;
    }

    nav li:hover .dropdown a {
        padding-left: 30px;
    }
    
    nav li:hover .dropdown a:hover {
        background-color: rgba(0,0,0,.5);
    }

	.primary-nav li {
		display: none;
		width: 100%;
		font-family: Arial;
	}
	.primary-nav li a {
		display: block;
		width: 100%;    /* edited from 90% */
		padding: 10px 5%;
		font-size: 14px;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
		border-top: 1px solid rgba(255,255,255,.1);
	}
	.primary-nav li a:hover {
		background-color: rgba(0,0,0,.5);
		border-top-color: transparent;
	}
	.primary-nav > li:first-child {
		border-top: 1px solid rgba(0,0,0,.2);
	}

	/* Toggle the navigation bar open  */

	.primary-nav.open {
		height: auto;
		padding-top: 50px;
	}
	.primary-nav.open li {
		display: block;
	}

	/* Submenus – optional .parent class indicates dropdowns */

	.primary-nav > li:hover > a {
		background: rgba(0,0,0,.5);
		border-bottom-color: transparent;
	}
	.primary-nav li.parent > a:after {
		content: "▼";
		color: rgba(255,255,255,.5);
		float: right;
	}
	.primary-nav li.parent > a:hover {
		background: rgba(0,0,0,.75);
	}
	.primary-nav li ul {
		display: none;
		background: rgba(0,0,0,.5);
		border-top: 0 none;
		padding: 0;
	}
	.primary-nav li ul a {
		border: 0 none;
		font-size: 12px;
		padding: 10px 5%;
		font-weight: normal;
	}
	.primary-nav li:hover ul {
		display: block;
		border-top: 0 none;
	}

} /* End Mobile Styles */